div(class="row animated zoomInRight" ng-cloak)
    span(class="col-md-12 pull-right" style="font-size: 48px; font-weight: bold; color: white;") Select Your Team:
    div
        carousel(sides="vm.sides" team-selected="teamSelected" team-id="teamId")
        button(type="button" class="btn btn-primary pull-left viewRoster" ng-click="vm.ViewRoster(teamSelected, teamId)") View Roster
        button(type="button" class="btn btn-primary pull-left teamInfo"  ng-click="vm.TeamInfo(teamSelected, teamId)") Team Info

div(class="col-md-12" style="font-size: 48px; font-weight: bold; color: white; margin-top: 3%; left:25%;") Team Selected: {{teamSelected}}

button(type="button" class="btn btn-primary pull-left" ui-sref="Start.career3")
  span(style="margin-right: 3px;" class="glyphicon glyphicon-circle-arrow-left pull-left") Prev Page
button(type="button" class="btn btn-primary pull-right" ui-sref="Start.teamSelect") Next Page
  span(style="margin-left: 3px;" class="glyphicon glyphicon-circle-arrow-right pull-right")
