form(ng-submit="vm.onSubmit()" novalidate class="start-career3 animated bounceInRight")
    div(class="panel panel-primary")
        div(class="form-league-creation")
            strong(class="control-label") Choose Career Settings 3
        div(class="panel-body px-nested-panel-body")
            div(class="sectionLabel")
              strong(class="control-label") Owner Settings
            formly-form(model="vm.model" fields="vm.careerOwner" form="vm.form" hide-directive="ng-show")
            div(class="sectionLabel")
              strong(class="control-label") Player Contract Settings
            formly-form(model="vm.model" fields="vm.careerPlayerCon" form="vm.form" hide-directive="ng-show")
            button(type="button" class="btn btn-primary pull-left hvr-grow-shadow" onclick="$('.start-career3').removeClass('bounceInRight').addClass('bounceOutLeft')" ng-click="$state.go('Start.career2', {model: vm.model})")
              span(style="margin-right: 3px;" class="glyphicon glyphicon-circle-arrow-left pull-left") Prev Page
            button(type="button" class="btn btn-primary pull-right hvr-grow-shadow" ng-click="$state.go('Start.teamSelect', {model: model})" onclick="$('.start-career3').removeClass('bounceInRight').addClass('bounceOutLeft')")
              span(style="margin-left: 3px;" class="glyphicon glyphicon-circle-arrow-right pull-right") Next Page
