$red: #CF6766;
$indigo: #30415D;
$black: #031424;
$light-blue: #8EAEBD;

/*FONTS*/
@font-face {
  font-family: raiderFont;
  src:url(../fonts/Raiderfont.ttf);
}

@font-face {
  font-family: NFL_Minnesota_Vikings;
  src:url(../fonts/NFL_Minnesota_Vikings.ttf);
}

/*FORM LEAGUE CREATION*/

body{
   overflow: scroll;
}

/*NAVBAR*/
.logo{
  height:80px;
  width:auto;
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
  z-index: 100;
}

.navbar.navbar-inverse {
  //opacity: 0.7;
  background-color: $indigo;
  border:none;
  border-radius:0;
  position: relative;
}

/*BACKGROUND HOME*/
.body-background{
  background: url(../img/backgrounds/_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* LOADER */
.spinner {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  margin:  auto;
  opacity: 0.9;
  position: absolute;

  .sk-cube {
    width: 33%;
    height: 33%;
    background-color: $red;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }

  .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }

  .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }

  .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }

  .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }

  .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }

  .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }

  .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }

  .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }

  .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }

}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
