@import 'main';

span {
    text-align: center;
}

#carousel  {
  figure {

      h2{
        color: black;
      }

      img {
        width: 30%;
        height: 30%;
      }

      button {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
        width: 30%;
        height: 6vh;
        font-size: 1.5vw;
      }
    }
}

h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: auto;
}

.body-background .modal-dialog {
  width: 100%;
  margin-top: 0;
  background-color: white;
}

.ui-grid {
  width: 100%;
}
.viewRoster {
  position: relative;
}

 .teamInfo {
  position: relative;
}

button.controls {
  position: absolute;
  z-index: 999;
  padding: 10px 15px;
  background: tomato;
  cursor: pointer;
}

button.controls:nth-of-type(1) {
  top: 0;
  left: 0;
}

button.controls:nth-of-type(2) {
  top: 0;
  right: 0;
}

.animated {
-webkit-animation-fill-mode: backwards;
animation-fill-mode: backwards;
animation-duration: 2.5s;
}

.ui-grid-header-cell, .ui-grid-cell, .ui-grid-cell-contents{
  text-align:center;
  position: relative;
}


.close-modal-team-select{
  float:right;
}

[uib-modal-window]{
  height: 100%;
}


.offense-data, .defense-data{
  margin: auto;
  width: inherit;
}

.modal-body #modal-body{
  background-color: white;
}
