#carousel(style="{{ styles.carousel }}")
    figure(ng-repeat="side in sides track by $index" style="{{ styles.figures[$index] }}" class="team-figure")
      .row
        h2(class="col-sm-12") {{ side.title }}
        .team-img.col-sm-8
          img(ng-src="{{ side.image }}")
        bars-chart(width=200 height=150 data="side.listItemsData", class="col-sm-4 bar-chart-team")
